<%- include('./components/header') %>
<title><%= title %></title>

<div class="mainDiv">
    <div class="navBar">
        <a style="margin-left: 15px;" href="/create">Create Page</a>
        <a style="margin-left: 15px;" href="/read">Read Page</a>
        <a style="margin-left: 15px;" href="/update">Update Page</a>
        <a style="margin-left: 15px;" href="/delete">Delete Page</a>
    </div>
</div>

<%- include('./components/footer') %>